// Variables globales
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family-primary: 'Roboto', sans-serif;

// Variables para modo claro
$light-bg: #ffffff;
$light-text: #473737;

// Variables para modo oscuro
$dark-bg: #2c3e50;
$dark-text: #ecf0f1;
